<a href="https://colab.research.google.com/github/TKAKSHAY2004/Google-Colab-21CSS101J/blob/main/RA2211042010057.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("RA2211042010057")

RA2211042010057

In [3]:
print("3 + 9")

3 + 9

In [9]:
a = 5.0
b = 3
print(a - b) 
print(a*b)
print(a / b)
print(a % b)

2.0
15.0
1.6666666666666667
2.0

In [11]:
x = 5
y = "lohit"
print(x)
print(y)

5
lohit

In [12]:
x = str("char")
y = int("4")
z = float(4.0)
print(x)
print(y)
print(z)

char
4
4.0

In [19]:
x = "yes "

y = 4
print(x*y)

yes yes yes yes

In [20]:
number = [9,36,57]
x,y,z = number
print(x)
print(y)
print(z)

9
36
57

In [22]:
x = "python"
y = "is"
z = "awesome"
print(x,y,z)

python is awesome

In [25]:
x = "nirmal"
y = 5
print(x , y)

nirmal 5

In [27]:
num1 = int(input("Enter 1st number = "))
num2 = int(input("Enter 2nd number = "))
add = num1 + num2
print("Add = ",add)

Enter 1st number = 67
Enter 2nd number = 76
Add =  143

In [29]:
num1 = int(input("Enter 1st number = "))
num2 = int(input("Enter 2nd number = "))
sub = num1-num2
multiply = num1*num2
division = num1/num2
print("subtraction = ",sub)
print("Multiplication = ",multiply)
print("Divison = ",division)

Enter 1st number = 65
Enter 2nd number = 35
subtraction =  30
Multiplication =  2275
Divison =  1.8571428571428572

In [31]:
num1 = int(input("Enter 1st number = "))
num2 = int(input("Enter 2nd number = "))
percentage = (num1/num2)*100
print("Percentage = ",percentage)

Enter 1st number = 54
Enter 2nd number = 80
Percentage =  67.5

In [35]:
num1 = int(input("Enter the side = "))
perimeter = num1*4
print("Perimeter of square = ",perimeter)

Enter the side = 5
Perimeter of square =  20

In [38]:
num1 = int(input("Enter length = "))
num2 = int(input("Enter breadth = "))
area =  num1*num2
print("Area of rectangle = ",area)

Enter length = 4
Enter breadth = 6
Area of rectangle =  24

In [39]:
num1 = int(input("Enter the side = "))
area = num1*num1
print("Area of square = ",area)

Enter the side = 7
Area of square =  49

In [40]:
num1 = int(input("Enter length = "))
num2 = int(input("Enter breadth = "))
perimeter = 2*(num1+num2)
print("Perimetre of rectangle = ",perimeter)

Enter length = 4
Enter breadth = 6
Perimetre of rectangle =  20

In [41]:
num1 = int(input("Enter height = "))
num2 = int(input("Enter base = "))
area = 0.5*num1*num2
print("Area of triangle = ",area)

Enter height = 8
Enter base = 9
Area of triangle =  36.0

In [50]:
word = str(input("Enter the name = "))
times = int(input("Enter no.of times = "))
for i in range(0,times):
  print(word)

Enter the name = akshay
Enter no.of times = 5
akshay
akshay
akshay
akshay
akshay